.vertical-wrapper {
  min-height: 90vh;
}

.card-width {
  width:80%;
}

.margin-container {
  margin-top: 3%;
}

.wrapper {
  height: auto !important;
}

.my-card {
  margin: 1vw;
}
